In [2]:
import numpy as np
import pandas as pd

In [3]:
labels = ['a', 'b', 'c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20, 'c':30}

In [4]:
#Buat Series dari my_list
series1 = pd.Series(data=my_list)
series1

0    10
1    20
2    30
dtype: int64

In [5]:
#Buat Series dari my_list dengan menggunakan label
series2 = pd.Series(data=my_list, index=labels)
series2

a    10
b    20
c    30
dtype: int64

In [6]:
#Buat Series dari arr dengan menggunakan label
series3 = pd.Series(arr,labels)     #  bisa juga gunakan pd.Series(data=arr, index=labels)
series3

a    10
b    20
c    30
dtype: int32

In [7]:
#Buat series dengan dictionary
series4 = pd.Series(d)
series4

a    10
b    20
c    30
dtype: int64

In [8]:
ser1 = pd.Series([1,2,3,4], index = ['USA', 'Germany', 'USSR', 'Japan'])
ser2 = pd.Series([1,2,5,4], index = ['USA', 'Germany', 'Italia', 'Japan'])

In [9]:
a = ser1.iloc[0:2]
b = ser2.iloc[2:]

df = pd.concat([a,b], axis=0)
df

USA        1
Germany    2
Italia     5
Japan      4
dtype: int64

In [10]:
ser1 + ser2

Germany    4.0
Italia     NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [11]:
#Values Series 1
np.array(ser1)

array([1, 2, 3, 4], dtype=int64)

In [14]:
#Values Series 2
ser1.index

Index(['USA', 'Germany', 'USSR', 'Japan'], dtype='object')

In [23]:
#Buat Random integer 1 hingga 5 sebanyak 15 bilangan, tampilkan hanya nilai uniquenya saja
np.unique(np.random.randint(1,5,15))

array([1, 2, 3, 4])

In [24]:
#Buat Random integer 1 hingga 5 sebanyak 15 bilangan, tampilkan berapa banyak nilai unique uniquenya saja
len(np.unique(np.random.randint(1,5,15)))

4

In [25]:
#Buat Random integer 1 hingga 5 sebanyak 15 bilangan, tampilkan frekuensi setiap bilangannya
pd.Series(np.random.randint(1,5,15)).value_counts()

1    5
3    4
2    4
4    2
dtype: int64

## Data Frame

In [4]:
from numpy.random import seed, randn
seed(101)

In [5]:
#dataframe adalah sekumpulan series yang ditempel menjadi 1 dan berbagi index. 

df =pd.DataFrame(randn(5,4), index =list('ABCDE'), columns = list('WXYZ'))

In [6]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

0    1
1    2
2    3
3    4
dtype: int64

In [29]:
df.loc['F'] = df.iloc[4]   # perbaiki gunakan concate
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
F  0.190794  1.978757  2.605967  0.683509

In [8]:
df.iloc[0:5,0:1]

          W
A  2.706850
B  0.651118
C -2.018168
D  0.188695
E  0.190794

In [31]:
df.iloc[0:5]['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [32]:
df.iloc[0:5,0]

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

## Creating New Column

In [37]:
df['NEW'] = ['Text',1,2,3,4]
df

          W         X         Y         Z   NEW
A  2.706850  0.628133  0.907969  0.503826  Text
B  0.651118 -0.319318 -0.848077  0.605965     1
C -2.018168  0.740122  0.528813 -0.589001     2
D  0.188695 -0.758872 -0.933237  0.955057     3
E  0.190794  1.978757  2.605967  0.683509     4

In [38]:
df.drop('E',axis=0)

          W         X         Y         Z   NEW
A  2.706850  0.628133  0.907969  0.503826  Text
B  0.651118 -0.319318 -0.848077  0.605965     1
C -2.018168  0.740122  0.528813 -0.589001     2
D  0.188695 -0.758872 -0.933237  0.955057     3

In [39]:
df.loc['A':'B']

          W         X         Y         Z   NEW
A  2.706850  0.628133  0.907969  0.503826  Text
B  0.651118 -0.319318 -0.848077  0.605965     1

In [190]:
df.loc['A':'C']

          W         X         Y         Z   NEW
A -0.993263  0.196800 -1.136645  0.000366  Text
B  1.025984 -0.156598 -0.031579  0.649826     1
C  2.154846 -0.610259 -0.755325 -0.346419     2

In [40]:
df.loc[['A','C'],['W','NEW']]

          W   NEW
A  2.706850  Text
C -2.018168     2

## Conditional Selection

In [31]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [42]:
#Tampilkan dataframe yang W nya lebih besar dari 0
df[df['W']>0]

          W         X         Y         Z   NEW
A  2.706850  0.628133  0.907969  0.503826  Text
B  0.651118 -0.319318 -0.848077  0.605965     1
D  0.188695 -0.758872 -0.933237  0.955057     3
E  0.190794  1.978757  2.605967  0.683509     4